body {
  font-family: 'Poppins', sans-serif;
  padding: 40px;
  background: radial-gradient(circle, #c51414, #1c1087);
  color: #0013bb;
}

h2 {
  color: #15f420;
  margin-bottom: 40px;
}

input[type="text"] {
  height: 50px;
  width: 250px;
  border: 5px solid #ea0606;
  border-radius: 4px;
  font-size: 16px;
}
button {
padding: 10px 10px ;
  font-size: 16px;

  border-radius: 4px;
  cursor: pointer;
}

#addTaskBtn {
  background-color: #056b5f;
  color: white;
  transition: background-color 0.3s;
}

#addTaskBtn:hover {
  background-color: #004d40;
}
ul {
  margin-top: 100px;
}

li {
  padding: 12px 16px;
  border: 5px solid #b2dfdb;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b9e11b;
}

.task-content {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}
.task-checkbox {
  transform: scale(1.2);
  accent-color: #009688;
}
.delete-btn {
  font-family: 'Poppins', sans-serif;
  background-color: #e53935;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  /* font-size: 12px; */
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #b71c1c;
}
